<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <form class="well span8" role="form">
        <div class="row">
            <div class="col-md-4">
                
                <div class="form-group">
	                <label>First Name</label>
	                <input class="form-control" placeholder="Your First Name" type="text">
            	</div>

            	<div class="form-group">
	                <label>Last Name</label>
	                <input class="form-control" placeholder="Your Last Name" type="text">
            	</div>

				<div class="form-group">                
	                <label>Email Address</label> 
	                <input class="form-control" placeholder="Your email address" type="text"> 
            	</div>

            	<div class="form-group">
	                <label>Subject</label>
	                <select class="form-control" id="subject" name="subject">
	                    <option selected value="na">
	                        Choose One:
	                    </option>
	    
	                    <option value="service">
	                        General Customer Service
	                    </option>
	    
	                    <option value="suggestions">
	                        Suggestions
	                    </option>
	    
	                    <option value="product">
	                        Product Support
	                    </option>
	                </select>
	            </div>



            </div>
    
            <div class="col-md-8">
                <label>Message</label> 
   				<textarea class="form-control" rows="10"></textarea>

   				<button class="btn btn-primary pull-right voffset3" type="submit">Send</button>
           	</div>

           	
        </div>
    </form>
</div>
<style>
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
</style>
